.wrapper {
  height: 440px;
  width: 440px;
  margin: 20px auto;
}


.cell {
  float: left;
  width: 20px;
  height: 20px;
  border-left: 1px solid #aeaeae;
  border-top: 1px solid #aeaeae;
  padding: 0;
  margin: 0;
  background-color: #d1d3d4;
}

.cell.gameOver {
  background-color: #c33045;
}

.snake {
  background-color: #52abd8;
}

.food {
  background-color: #e17777;

}

.score {
  margin: 10px auto;
}

.center {
  text-align: center;
}

.instructions {
  margin-bottom: 20px;
  font-style: italic;
}

span {
  line-height: 20px;
}
